<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/layer.css">
	<link rel="stylesheet" href="css/demo.css">
</head>
<body>

	<div id="header">
		<h1>在线编辑系统</h1>
		<div class="right">
			<div class="m-search">
				<input type="text" class="search">
			</div>
			<div class="login">
				<div class="u-avatar"><img src="http://quc.qhimg.com/dm/100_100_100/t01b8562826187fa819.jpg" alt=""></div>
				<span class="name">liwenxiang</span>
			</div>
		</div>
	</div>

	<div class="m-row m-bd">
		
		<div class="m-cell-1 m-choose">
			
			<ul id="choose">
				<li class="radio">单选</li>
				<li class="checkbox">多选</li>
			</ul>

		</div>	
		
		<div class="m-cell-3 m-q">
			<div class="m-btn">
				<span class="btn btn-red">保存</span>
				<span class="btn btn-green">预览</span>
				<span class="btn btn-green">导入</span>
				<span class="btn btn-green">创建新试卷</span>
			</div>
			

			<div class="m-row">
				<div class="m-list">
					<div class="list-tips">试卷题目(单击编辑试卷题目)</div>
					<ul id="sortList">
					</ul>

					
				</div>
				<div class="m-cell-s m-set">
					<img src="img/left.jpg" alt="">
				</div>
			</div>
		</div>
	
		

	</div>


    <script src="http://www.proprofs.com/api/ckeditor_ver4.4.0/ckeditor.js"></script>

    <script src="js/sortable.js"></script>
	<script src="js/nt.js"></script>
	<script src="js/171.js"></script>
	<script src="js/jq.sortable.js"></script>
	<script src="js/layer.js"></script>

	<script type="text/template" id="checkboxTmp">

		<div class="m-checkbox">
			<div class="m-ct">
				<h3><em><%=id%></em>、<%=editor01%></h3>
                <% var options = option.split('|');%>
                <% var checkboxs = check.split('|');%>
                <% for(var i=0;i<options.length; i++){ %>

				<div class="item">
                    <% if(checkboxs[i] == 0){ %>
                    <i class="mcb"></i>
                    <%} else {%>
                    <i class="mcb mcb-select"></i>
                    <%}%>
					<label><%=options[i]%></label>
				</div>

                <%}%>
			</div>
			<!--<div class="text hide">点击这里编辑</div>-->
			<div class="m-tools m-row">
				<b class="fl u-i u-i-cp hide"></b>
				<b class="fr u-i u-i-del hide"></b>
			</div>
		</div>

	</script>

    <script type="text/template" id="dialogTmp">
        <input type="hidden" name="id" value="<%=id%>"/>
    	<div class="m-hd">
    		试题编辑
    	</div>
        <div class="m-ct">
        	<div class="cell">
				<select name="" id="">
					<option value="">单选</option>
				</select>

				<input type="text" class="inp inp-s" placeholder="分数值">

				<span class="m-cb">选做</span>
			</div>
			<div class="m-editor cell">
				<textarea name="editor01" class="tex"><%=editor01%></textarea>
			</div>
			<div class="m-que cell">
				<div class="add-q-a">
                    <textarea data-ignore="true" name="add-q" class="tex" placeholder="（批量填加答案）默认提示：请批量添加答案，以空行分开不同答案。"></textarea>
                    <div class="m-sub-btn hide">
                        <span class="btn btn-red batch-update">确定</span>
                        <span class="btn btn-green batch-cancel">取消</span>
                    </div>
                </div>
                <div class="q-a-box">
                    <% var options = option.split('|');%>
                    <% var checkboxs = check.split('|');%>
                    <% for(var i=0;i<options.length; i++){ %>
                    <div class="m-row">
                        <% if(checkboxs[i] == 0){ %>
                        <i class="mcb"></i>
                        <%} else {%>
                        <i class="mcb mcb-select"></i>
                        <%}%>
                        <input type="text" class="inp inp-b" name="option" placeholder="说法<%=i%>" value="<%=options[i]%>">
                        <div class="m-btn-box">
                            <b class="u-i-add"></b>
                            <b class="u-i-reduce"></b>
                        </div>
                    </div>
                    <%}%>
                </div>
			</div>
			<div class="other">
				<div class="none">
                    <a href="###">注释</a>
                    <textarea name="" class="tex"></textarea>
                </div>
                <div class="none">
                    <a href="###">知识点</a>
                    <textarea name="" class="tex"></textarea>
                </div>
			</div>
        </div>
        <div class="m-btn">
			<span class="btn btn-green">上一题</span>
			<span class="btn btn-green">下一题</span>
        	<span class="btn btn-red subBtn">确定</span>
			<span class="btn btn-green closeDialog">取消</span>
        </div>
    </script>
	
	<script type="text/template" id="optionTmp">
        <% for(var i=0;i<data.length; i++){ %>
        <% if(!data[i]){continue};%>
		<div class="m-row">
            <i class="mcb"></i>
            <input type="text" class="inp inp-b" name="option" placeholder="说法<%=i%>" value="<%=data[i]%>">
			<div class="m-btn-box">
				<b class="u-i-add"></b>
				<b class="u-i-reduce"></b>
			</div>
		</div>
        <%}%>
	</script>
    <script src="js/demo.js"></script>

</body>
</html>